
# moon
.moon/cache
.moon/docker


target/
node_modules/

.env
.env.yarn

dist/

default.etcd/

yarn-error.log
.yarn/install-state.gz

.devcontainer/data.ms/
.devcontainer/typesense-data/

.yarn/unplugged
.yarn/build-state.yml

.yarn/cache/next-*.*
.yarn/cache/@next-swc-*.*